@import "vars";
@import "mixins";

// img{vertical-align: top;} 이미지랑 내용부분이 info 부분의 공백을 메워줌

.roll {
  display: block;
  width: 240px;
  height: 60px;
  margin-top: 100px;
  border: 1px solid #fff;
  @include flex;
  transition: all 0.5s ease;

  div {
    font-weight: 700;
    overflow: hidden;
    text-shadow: 0 1.5em 0 lighten($main-color, 20);
    display: flex;
    justify-content: center;
    span {
      display: block;
      transition: 0.25s ease;
      @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.05s;
        }
      }
    }
  }

  &:hover {
    background-color: $main-color;
    border-color: $main-color;
    div {
      span {
        transform: translateY(-1.5em);
      }
    }
  }
}

#main-visual {
  overflow: hidden;
  .list {
    li {
      height: 100vh;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;

      &.visual01,
      &.visual02,
      &.visual03 {
        position: relative;
        .text {
          position: absolute;
          width: 100%;
          top: 50%;
          text-align: center;
          color: #fff;
          z-index: 2;
          .main {
            font-size: 60px;
            font-weight: 700;
          }
          .sub {
            font-size: 30px;
            line-height: 1.5;
            margin-top: 20px;
          }
        }
      }
    }
  }

  // for $i from 1 through 3 {}을 쓰면 1~3까지 감
  @for $i from 1 to 4 {
    .visual0#{$i} {
      background-image: url("../imges/main/visual0#{$i}.jpg");
    }
  }

  .btns {
    position: absolute;
    left: 100px;
    bottom: 50px;
    z-index: 2;
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
  .btn {
    // position: absolute;
    // top: 50%;
    color: #fff;
    font-size: 24px;
    z-index: 2;
    &-next {
      right: 100px;
    }
    &-prev {
      left: 100px;
    }
  }
}

#quick-menu {
  .container {
    display: flex;
    h2 {
      height: 120px;
      width: 25%;
      @include flex;
      text-transform: uppercase;
      font-size: $h3;
      background-color: $main-color;
      color: #fff;
      @include longshadow(100, darken($main-color, 10));
      overflow: hidden;
    }
    ul {
      display: flex;
      width: 75%;
      li {
        width: 33.33%;
        border-left: 1px solid #ccc;
        &:nth-last-child(1) {
          border-right: 1px solid #ccc;
        }
        // &:nth-child(1) a::before {
        //   background-image: url("../imges/main/quick-icon1.png");
        // }
        // &:nth-child(2) a::before {
        //   background-image: url("../imges/main/quick-icon2.png");
        // }
        // &:nth-child(3) a::before {
        //   background-image: url("../imges/main/quick-icon3.png");
        // }
        @for $i from 1 to 4 {
          &:nth-child(#{$i}) a:before {
            background-image: url("../imges/main/quick-icon#{$i}.png");
          }
        }
        a {
          @include flex;
          height: 120px;
          &:before {
            content: "";
            display: block;
            width: 48px;
            height: 48px;
            background-repeat: no-repeat;
            background-position: 50%;
          }
        }
      }
    }
  }
}

.section {
  .title-box {
    width: 340px;

    .title {
      h2 {
        text-transform: uppercase;
        font-size: $h1;
        margin-bottom: 40px;
      }
      p {
        font-size: 18px;
        line-height: 1.5;
      }
      &:after {
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        background-color: $main-color;
        margin: 30px 0;
      }
    }
    .btns {
      display: flex;

      .btn {
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: 1px solid $main-color;
        &-next {
          // border-left: none;
          margin-left: -1px;
        }
      }
    }
  }
}
#project {
  overflow: hidden;
  position: relative;
  padding: 200px 0 300px;
  background-color: #ccc;
  .title h2 {
    color: $main-color;
  }
  .container {
    position: relative;
  }
  .banner {
    position: absolute;
    width: 100vw;
    overflow: hidden;
    left: 340px;
    top: 0;
    .mask {
      overflow: hidden;
      padding-bottom: 50px;
    }
    ul {
      li {
        width: 400px;
        //이미지를 넣었을 때 비율을 맞추는 법_object-fit: contain / cover
        .contents {
          img {
            width: 100%;
            height: 280px;
            object-fit: cover;
          }
        }
        &:hover {
          .popup {
            top: 120px;
            opacity: 1;
            box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
            pointer-events: auto; // 마우스를 가져다 댈 때만 올라오게 하고 싶을 때 - 2단계
          }
        }
        .info,
        .popup {
          background-color: #fff;
          padding: 30px;

          h3 {
            font-size: $h3;
            font-weight: 500;
            margin-bottom: 20px;
          }
          dl {
            display: flex;
            margin: 10px 0;
            // position: relative;
            dt {
              width: 80px;
              font-weight: 500;
            }
            dd {
              color: #666;
              // position: absolute;
              width: calc(100% - 80px);
              @include ellipsis;
              // left: 75px;
            }
          }
        }
        .popup {
          position: absolute;
          width: 100%;
          top: 350px;
          opacity: 0;
          box-sizing: border-box; // width 400px에 pading 60px(30px*2)돼서 마진, 패딩, 보더까지 넓이에 포함하도록 해야됨
          padding: 50px 30px;
          transition: all 0.25s ease;
          pointer-events: none; // 마우스를 가져다 댈 때만 올라오게 하고 싶을 때 - 1단계
          a {
            @include flex;
            background-color: $main-color;
            color: #fff;
            margin-top: 30px;
            padding: 30px 0;
            overflow: hidden;
            @include longshadow(50, darken($main-color, 10));
          }
        }
      }
    }
  }
}
#about {
  padding: 200px 0 100px;
  position: relative;
  .title {
    h2 {
      color: #fff;
    }
    &:after {
      background-color: #fff;
    }
  }
  .container {
    z-index: 2;
    position: relative;
  }
  .banner {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    .list li {
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      .txt {
        color: #fff;
        padding-top: 350px;
        p {
          font-size: $h1;
          line-height: 1.2;
          font-weight: 300;
        }
      }
    }
    .visual01 {
      background-image: url("../imges/main/dk-bg.jpg");
    }
    .visual02 {
      background-image: url("../imges/main/loge-bg.jpg");
    }
    .pagination {
      position: absolute;
      top: 200px;
      left: 600px;
      z-index: 3;
      width: auto;
      bottom: auto; // bottom: auto를 쓰니 pagination bottom 짧아짐
      .swiper-pagination-bullet {
        width: auto;
        background: none;
        font-size: $h3;
        color: #fff;
        opacity: 1;
        em {
          opacity: 0.2;
        }
        &-active {
          em {
            opacity: 1;
          }
        }
        &:nth-child(2) {
          padding-left: 30px;
          position: relative;
        }
        &:nth-child(2):before {
          content: "";
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: #fff;
          position: absolute;
          left: 10px;
          top: 5px;
          transform: rotate(45deg);
        }
      }
    }
  }
  .business {
    margin-top: 500px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        position: relative;
        margin-bottom: 30px;
        overflow: hidden;
        // 이미지에 박스선 만들기 1단계
        // &:before {
        //   content: "";
        //   display: block;

        //   border: 1px solid #fff;
        //   position: absolute;
        //   left: 30px;
        //   right: 30px;
        //   top: 30px;
        //   bottom: 30px;
        //   opacity: 0;
        //   z-index: 2;
        //   transition: all 0.25s ease;
        // }

        &:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          // width: 100%;
          // height: 100%;

          box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 1);
          z-index: 2;
          transition: all 0.25s ease;
        }
        img {
          transition: all 0.25s ease;
        }
        &:hover {
          img {
            transform: scale(1.3);
          }
          &:before {
            // 이미지에 박스선 만들기 1단계
            // opacity: 1;
            box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 1);
          }
        }
        .title {
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: #fff;
          padding: 30px;
          width: 240px;
          height: 120px;
          box-sizing: border-box;
          strong {
            display: block;
            font-size: $h3;
            font-weight: 700;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
#news {
  padding: 0 0;
  position: relative; // banner를 밑으로 내려오게 하기 위함
  .container {
    position: relative; // banner가 container를 기준으로 오게 하기 위함
    display: flex;
  }
  .roll {
    border-color: $main-color;
    margin-top: 50px;
  }
  .banner {
    width: calc(100% - 340px); // news가 차지하는 width가 340px이기 때문에
    .mask {
      overflow: hidden;
      height: 230px * 3; // swiper에서 direction이 vertical이라서 반드시 부모가 높이를 가져야됨
    }
    ul {
      margin-top: -40px;
      li {
        padding: 40px 0;
        border-bottom: 1px solid #ccc;
        height: 230px;
        box-sizing: border-box;

        a {
          display: flex;
          align-items: center;
          &:hover {
            text-decoration: underline;
          }
          .txt {
            margin-left: 50px;
            h3 {
              font-size: $h3;
              margin-bottom: 20px;
              vertical-align: middle;

              @include ellipsis;
              span {
                font-size: $h3/1.75;
                vertical-align: middle;
                font-weight: 500;
                color: $main-color;
                display: inline-block;
                margin-right: 10px;
                margin-top: -3px;
              }
            }
            p {
              @include multiElilipsis;
            }
          }
          img {
            height: 230px - 80px;
          }
        }
      }
    }
  }
}
#pr {
  padding: 200px 0;
  background-color: lighten($main-color, 20);
  overflow: hidden;
  .container {
    position: relative;
  }
  .title {
    h2 {
      color: $main-color;
    }
    p {
      opacity: 0.75;
    }
  }
  .roll {
    color: #fff;
    margin-top: 50px;
  }
  .banner {
    position: absolute;
    width: 100vw;
    overflow: hidden;
    left: 340px;
    top: 0;
    .mask {
      overflow: hidden;
      padding-bottom: 50px;
    }
    ul {
      li {
        $w: 700px;
        width: $w;
        iframe {
          width: $w;
          height: $w * 0.5625;
        }
      }
    }
  }
}
